/* @import la cpolice de caractère */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-familly: lato;
} */

.container {
  width: 600px;
  background-color: #c4c4c4;
  padding: 20px;
  margin-bottom: 10px;
}

h1 {
  font-weight: bold;
  font-size: 30px;
}
